# OS files
.DS_Store

# Python
__pycache__/
*.pyc

# Data cache and results
data/cache/
data/results/

# Model weights
best_model.pt
best_multiclass_model.pt

# Scripts
src/2classesbulletpoint1.py
src/37classesbulletpoint2.py
src/sanitycheck.py
